
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


body {
  height: 100%;
  min-height: 100%;
  height: 450vh;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


  header {
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    padding: 0 15%;
}

nav {
  z-index: 10000;
  
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  transition: 0.3s all;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;


}

.nav__links li a:hover {
  text-decoration: underline;
}





.container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
}


.second-container {
  width: 100%;
  height: 60vh;
  margin-top: 50%;
  justify-content: center;
  text-align: center;
  display: block;
  box-sizing: border-box;
  position: absolute;
  background: linear-gradient(45deg, #0083b0, #00b4db)
}

.third-container {
  margin-top: 0%;
  height: 40vh;
  width: 100%;
  margin-top: 50%;
  position: absolute;
  background: linear-gradient(45deg, #0083b0, #00b4db)
}


.fourth-container {
  height: 40vh;
  width: 100%;
  margin-top: 90%;
  margin-bottom: 20%;
  position: absolute;
  background: linear-gradient(45deg, #0083b0, #00b4db);
}






.second-container h1 {
  padding-top: 70px;
  font-size: 3rem;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

.second-container h2 {
  padding-top: 70px;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

.second-container h3 {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  background: rgba(0,0,0,.6);
  padding: 20px;
  margin: 20px 500px 0px 500px;
  border-radius: 10px;
}

.second-container button {
  width: 150px;
  height: 50px;
  margin-top: 2%;
  border: none;
  background: #fff;
  border-radius: 10px;
  transition: 0.1s ease all;
}


.second-container button a {
  color: #0083b0;
  font-size: 1.1rem;
  font-family: 'Roboto Condensed', sans-serif;

  
}

.container img {
  height: 1000px;
  width: 1000px;
  padding: 0;
  margin-top: -7% !important;
}




.third-container pre, .third-container code {
  margin-left: 8%;
  margin-top: 3%;
  width: 500px;
  height: 150px;
  overflow: hidden;
  font-size: 1.1rem;
}

.third-container img {
  right: 5%;
  position: absolute;
  margin-top: -350px;
  height: 600px;
}

.third-container h1 {
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  margin-left: 13%;
  margin-top: 3%;
  font-size: 2.8rem;

}



.fourth-container img{
  position: absolute;
  left: 5%;
  margin-top: 50px;
  height: 600px;
}


.fourth-container h1 {
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-size: 2.8rem;
  margin-top: 3%;
  margin-left: 57%;
}

.fourth-container pre, .fourth-container code {
  margin-left: 40%;
  margin-top: 3%;
  width: 800px;
  height: 150px;
  overflow: hidden;
  font-size: 1.1rem;
}



.fifth-container {
  height: 40vh;
  width: 100%;
  margin-top: 130%;
  position: absolute;
  background: linear-gradient(45deg, #0083b0, #00b4db);
}


.fifth-container img {
  right: 5%;
  position: absolute;
  margin-top: -400px;
  height: 600px;
}

.fifth-container pre, .fifth-container code {
  padding-left: 8%;
  padding-top: 3%;
  width: 500px;
  height: 250px;
  
  font-size: 1.1rem;
}

.fifth-container h1 {
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  margin-left: 13%;
  margin-top: 3%;
  font-size: 2.8rem;
}




.mainbtn {
  width: 150px;
  height: 50px;
  position: absolute;
  top: 83%;
  left: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #219ECC;
  border: none;
}

.mainbtn1 {
  width: 150px;
  height: 50px;
  position: absolute;
  top: 83%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  background: transparent;
  transition: 0.1s ease all;
}

.mainbtn1:hover {
  border: 2px solid #219ECC;
}

button{
  cursor: pointer;
  outline: none;
}

button a {
  text-decoration: none;
}


.mainbtn a {
  color: #fff;
}

.mainbtn1 a {
 color: #219ECC;
}






/* .container_card {
  height: 330px;
  width: 1800px;
  border-radius: 20px;
  transition: 0.3s all;
  background: -webkit-linear-gradient(49deg, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6
 } */

/* .container_card:hover {
  -webkit-box-shadow: 10px 12px 20px rgba(0,0,0,.3);
  box-shadow: 10px 12px 20px rgba(0,0,0,.3);
} */

